/*#region var*/
@media (max-width: 991px) {
    :root {
        --pxunit: 8px;
        --headerH: 85px;
    }
}

@media (max-width: 768px) {
    :root {
        --pxunit: 6px;
        --font-size12: .6rem;
        --font-size14: .7rem;
        --font-size16: .75rem;
        --font-size18: .9rem;
        --font-size20: 1rem;
        --font-size22: 1.1rem;
        --font-size24: 1.2rem;
        --font-size26: 1.3rem;
        --font-size28: 1.4rem;
        --font-size30: 1.5rem;
        --font-size32: 1.6rem;
        --font-size36: 1.8rem;
        --spacing-unit: .4rem;
        --border-radius: .4rem;
        --margin-lg: 2.5rem;
        --margin: 2.5rem;
        --margin-sm: 2.5rem;
    }

    html {
        font-size: 2.5vw;
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }
}

@media (max-width: 450px) {
    :root {
        --font-size12: 1.2rem;
        --font-size14: 1.4rem;
        --font-size16: 1.6rem;
        --font-size18: 1.8rem;
        --font-size20: 2rem;
        --font-size22: 2.2rem;
        --font-size24: 2.4rem;
        --font-size26: 2.6rem;
        --font-size28: 2.8rem;
        --font-size30: 3rem;
        --font-size32: 3.2rem;
        --font-size36: 3.6rem;
        --spacing-unit: .7rem;
        --border-radius: .7rem;
        --margin-lg: 2rem;
        --margin-sm: 2rem;
        --margin: 2rem;
    }

    html {
        font-size: 2.5vw;
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }
}

/*#endregion var*/

/*#region HEADER*/
@media (max-width: 991px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 30px;
    }

    .header__set {
        justify-content: space-between;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 112;
        padding: 17.5px 30px;
    }

    .header__left {
        margin: 0;
    }

    .header__menu {
        display: none;
    }

    .header__sidebar {
        width: 100%;
        height: 100dvh;
        min-width: 0;
        top: 0;
    }
    body.is-header-sidebar-open .header__sidebar {
        padding-top: 100px;
    }
    .header__sidebar-nav {
        gap: 1.75rem;
    }
    .header__sidebar-overlay {
        top: 0;
    }

    .header__logo {
        width: 110px;
    }

    .header__hamburger {
        width: 50px;
        height: 50px;
        background-color: transparent;
    }

    .header__hamburger-btn {
        background-color: transparent;
        border: 1px solid var(--bg-white-color);
        border-radius: 50%;
        padding: 0;
    }

    .header__hamburger-txt {
        display: none;
    }

    .header__hamburger-line-wrap {
        gap: 6px;
        justify-content: center;
        align-items: center;
    }
    
    .header__hamburger-line {
        width: 55%;
        height: 1px;
    }

    .header__hamburger-btn--open .header__hamburger-line:nth-child(1) {
        transform: translateY(calc(var(--spacing-unit) * 1.2 + -0.1rem)) rotate(19deg);
    }

    .header__hamburger-btn--open .header__hamburger-line:nth-child(2) {
        transform: translateY(calc(-1 * (var(--spacing-unit) * 1.2 + -0.2rem))) rotate(-22deg);
    }


}
@media (max-width: 768px) {
    .header__hamburger-btn--open .header__hamburger-line:nth-child(1) {
        transform: translateY(calc(var(--spacing-unit) * 1.2 + -0.3rem)) rotate(19deg);
    }
    .header__hamburger-btn--open .header__hamburger-line:nth-child(2) {
        transform: translateY(calc(-1 * (var(--spacing-unit) * 1.2 + -0.3rem))) rotate(-22deg);
    }
}
@media (max-width: 450px) {
    .header {
        padding: 0 2rem;
    }
    .header__hamburger-line-wrap {
        gap: 4px;
    }
    .header__set {
        padding:50px 20px 0;
    }
    .header__sidebar-nav {
        max-width: 240px;
        margin: 0 auto;
    }
    body.is-header-sidebar-open .header__sidebar {
        padding-top: 190px;
    }
    .header__sidebar-en {
        font-size: 38px;
    }
    .header__sidebar-jp {
        font-size: 18px;
    }
    .header__hamburger-btn--open .header__hamburger-line:nth-child(2) {
        transform: translateY(calc(-1 * (var(--spacing-unit) * 1.2 + -0.6rem))) rotate(-22deg);
    }
    .header__hamburger-btn--open .header__hamburger-line:nth-child(1) {
        transform: translateY(calc(var(--spacing-unit) * 1.2 + -0.5rem)) rotate(19deg);
    }
    .header__logo {
        height: 4.5rem;
        width: auto;
    }

    .header__logo img {
        height: 100%;
        width: auto;
    }

    .header__hamburger {
        width: 4.5rem;
        height: 4.5rem;
    }

    .header__sidebar {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/*#endregion HEADER*/